pipeline/hist-weather-ingest.json
{
	"name": "hist-weather-ingest",
	"properties": {
		"activities": [
			{
				"name": "get-weather-key",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "https://ds598-vault.vault.azure.net/secrets/openweather-api?api-version=7.0",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "ForEachWeek",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "get-weather-key",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@range(1, 53)",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy Historical Weekly",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET",
									"paginationRules": {
										"supportRFC5988": "true"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings",
										"copyBehavior": {
											"value": "/weekly-historical-weather/week-@{item()}-weather.json",
											"type": "Expression"
										}
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "historical_api_REST",
									"type": "DatasetReference",
									"parameters": {
										"lat": "42.3601",
										"lon": "-71.0589",
										"appid": {
											"value": "@activity('get-weather-key').output.value",
											"type": "Expression"
										},
										"dataType": "hour",
										"start": {
											"value": "@div(sub(ticks(addDays(utcNow(), mul(-7, item()))), ticks('1970-01-01T00:00:00Z')), 10000000)\n",
											"type": "Expression"
										},
										"end": {
											"value": "@div(sub(ticks(addDays(utcNow(), mul(-7, sub(item(), 1)))), ticks('1970-01-01T00:00:00Z')), 10000000)\n",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "BRONZE_INGEST_JSON",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"annotations": []
	}
}